


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <style>
        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            
        }
    </style>








</head>
<body>

    

      <footer class="bg-dark text-white">
      <div class="container py-4 ">
          <div class="row">
              <div>
                  
                  
              </div>

              <div class="col-md-12  text-center">
                <p style="margin: 0;  padding-right: 10px;">&copy; 2024 Your Website</p>

                  <br>

                  <a href="#" class="text-white mx-2 text-decoration-none">
                  <i class="fab fa-facebook"></i> Facebook
                  </a>

                  <a href="#" class="text-white mx-2 text-decoration-none">
                  <i class="fab fa-instagram"></i> Instagram
                  </a>

                  <a href="#" class="text-white mx-2 text-decoration-none">
                  <i class="fab fa-twitter"></i> Twitter
                   </a>


              </div>
          </div>
      </div>
  </footer>
    
</body>
</html>